<h3>Filters:</h3>

<div [formGroup]="filtersForm">
  <div class="filter" uitestid="filter-archieved">
    <mat-checkbox formControlName="archieved"></mat-checkbox>
    <span>Archived</span>
  </div>

  <div class="filter" uitestid="filter-notArchieved">
    <mat-checkbox formControlName="notArchieved"></mat-checkbox>
    <span>Not Archived</span>
  </div>

  <div class="filter" uitestid="filter-missed">
    <mat-checkbox formControlName="missed"></mat-checkbox>
    <span>Missed</span>
  </div>

  <div class="filter" uitestid="filter-answered">
    <mat-checkbox formControlName="answered"></mat-checkbox>
    <span>Answered</span>
  </div>

  <div class="filter" uitestid="filter-voicemail">
    <mat-checkbox formControlName="voicemail"></mat-checkbox>
    <span>Voicemail</span>
  </div>

  <div class="filter" uitestid="filter-inbound">
    <mat-checkbox formControlName="inbound"></mat-checkbox>
    <span>Inbound</span>
  </div>

  <div class="filter" uitestid="filter-outbound">
    <mat-checkbox formControlName="outbound"></mat-checkbox>
    <span>Outbound</span>
  </div>
</div>
