<mat-expansion-panel>
  <mat-expansion-panel-header>
    <div class="call-container" uitestid="call">

      <span class="time-label"> {{ call.created_at | date:'shortTime'}}</span>

      <ng-container *ngIf="call.call_type == CallType.Voicemail; else standardCall">
        <i class="fas fa-phone-volume icon-big"></i>
      </ng-container>

      <span class="number">{{ call.from }}</span>

      <ng-container [ngSwitch]="call.direction">
        <i *ngSwitchCase="Direction.Inbound"
           class="fas fa-arrow-circle-left call-icon"
           [class.red]="call.call_type === CallType.Missed || call.call_type === CallType.Voicemail"
           [class.green]="call.call_type === CallType.Answered"
        ></i>
        <i *ngSwitchCase="Direction.Outbound"
           class="fas fa-arrow-circle-right call-icon"
           [class.red]="call.call_type === CallType.Missed || call.call_type === CallType.Voicemail"
           [class.green]="call.call_type === CallType.Answered"
        ></i>
      </ng-container>

      <span class="number">{{ call.to }}</span>

      <span class="duration-label"> {{ call.duration | formatDuration }}</span>

      <span class="archive-icon" (click)="changeArchiveStatus($event)">
        <i class="fa-folder-open"
           [class.fas]="call.is_archived"
           [class.far]="!call.is_archived"
           [title]="call.is_archived ? 'unarchive' : 'archive'"
           uitestid="archive-button"
        ></i>
      </span>
    </div>
  </mat-expansion-panel-header>

  <div class="call-content">
    <mat-divider></mat-divider>

    <div class="call-action">
      <button mat-raised-button color="primary" (click)="openCall()" uitestid="view-details">View details</button>
    </div>

    <span><b>via:</b> {{ call.via }}</span>
    <ng-container *ngIf="call.notes.length > 0; else noNotes">
      <span><b>Notes:</b></span>
      <ng-container *ngFor="let note of call.notes; let isLast = last">
        <p>{{ note.content }}</p>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </ng-container>
  </div>

</mat-expansion-panel>

<ng-template #standardCall>
  <i class="fas fa-phone-square-alt  icon-big"></i>
</ng-template>

<ng-template #noNotes>
  <span>There are no notes for this call.</span>
</ng-template>
