<div>
  <h3>Legend:</h3>

  <div>
    <i class="fas fa-phone-volume icon-big"> = </i>
    <span>Phone call</span>
  </div>
  <div>
    <i class="fas fa-phone-square-alt"> = </i>
    <span>Voicemail call</span>
  </div>
  <div>
    <i class="fas fa-arrow-circle-left red"> = </i>
    <span>Incoming call missed</span>
  </div>
  <div>
    <i class="fas fa-arrow-circle-left green"> = </i>
    <span>Incoming call answered</span>
  </div>
  <div>
    <i class="fas fa-arrow-circle-right red"> = </i>
    <span>Outgoing call with no answer</span>
  </div>
  <div>
    <i class="fas fa-arrow-circle-right green"> = </i>
    <span>Outgoing call with answer</span>
  </div>
  <div>
    <i class="fas fa-folder-open"> = </i>
    <span>Call archived / Unarchive call</span>
  </div>
  <div>
    <i class="far fa-folder-open"> = </i>
    <span>Call unarchived / Archive call</span>
  </div>

</div>
