
<div class="call-recap">
  <mat-paginator [length]="totalCalls$ | async"
                 [pageSize]="defaultPageSize"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <call-filters (filterChanged)="applyFilters($event)"></call-filters>
    <call-legend></call-legend>
  </mat-drawer>

  <mat-drawer-content>
    <div class="page">
      <mat-accordion *ngFor="let call of filteredCalls$ | async; let i = index;" multi>
        <ng-container *ngIf="shouldDisplayDate$(i) | async">
          <span class="date-label">{{ call.created_at | date }}</span>
        </ng-container>
        <call [call]="call" (toggleArchive)="changeArchiveStatus(call.id)"></call>
      </mat-accordion>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

