<div class="app-container">

  <mat-toolbar color="primary">
    <span>{{ title }}</span>
  </mat-toolbar>

  <ng-container *ngIf="(loading$ | async) === false; else loadingDistractor">
    <ng-container *ngIf="isLogged$ | async; else authForm">
      <calls-cont></calls-cont>
    </ng-container>
  </ng-container>

</div>

<ng-template #authForm>
  <login-form></login-form>
</ng-template>

<ng-template #loadingDistractor>
  <div class="page">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
