@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

.page {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  margin: 0 auto;
}

.red {
  color: #981e1e;
}

.green {
  color: #51851e;
}
